@font-face {
  font-family: "MGS1";
  src: url("../fonts/METAG___.TTF") format('truetype');
}
@font-face {
  font-family: "MGS2";
  src: url("../fonts/MGS2.ttf") format('truetype');
}
@font-face {
  font-family: "MGS3";
  src: url("../fonts/MGS2MENU.TTF") format('truetype');
}
@font-face {
  font-family: "MGS4";
  src: url("../fonts/Tactical\ Espionage\ Action.ttf") format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: rgb(102, 102, 102);
  font-family: sans-serif;
}

.title h1 {
  font-family: MGS1, sans-serif;
  font-size: 50px;
  color: #cf5656;
  text-shadow: 2px 2px black;
  transition: opacity .5s ease;
  padding: 5%;
}

.options {
  font-family: MGS2, sans-serif;
  text-align: center;
  font-size: large;
}

.intro {
  height: 50vh;
  font-family: MGS2, sans-serif;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  transition: opacity .5s ease;
}
.intro button,
.intro select {
  width: 200px;
  height: 30px;
  background: none;
  border: none;
  color: rgb(255, 0, 0);
  font-size: 15px;
  border-radius: 100px;
  cursor: pointer;
  background: rgb(63, 55, 55);
}

.gameplay {
  position: fixed;
  display: flex;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -10%);
  align-items: center;
  transition: opacity .5s ease .5s;
}

div.fadeOut {
  opacity: 0;
  pointer-events: none;
}

div.fadeIn {
  opacity: 1;
  pointer-events: all;
}